<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WatchDogPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WatchDogPC.Properties.Settings>
            <setting name="RigID_Options" serializeAs="String">
                <value />
            </setting>
            <setting name="RigName_Options" serializeAs="String">
                <value />
            </setting>
            <setting name="MiningDevices" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RgData" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalDevices" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToMonitor0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToMonitor22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxLines" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Monitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CntMonitoring" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TemperLo" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RestartDelay" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="TemperHiLevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MonitorAllRigs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiningStatusMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemperatureMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HashrateMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPUsMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InternetMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HM" serializeAs="String">
                <value />
            </setting>
            <setting name="AllRigsInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitoringProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="RejectedSpeedThreshold" serializeAs="String">
                <value>10000</value>
            </setting>
        </WatchDogPC.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>